<div id="consent">

	<hr />

	<div class="instructions well">

	    <p>
		    You have finished all the three practice trials. Now you can start with the formal trials. There will not be feedback after your responses anymore. But please keep the precision required by the practice throughout the survey in order to be qualified for remuneration. If you find the practice very hard, feel free to stop here and quit the survey.
	    </p>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
