<div id="consent">

    <hr />

    <div class="instructions well">

        <p>
            Please remember to click the next button before you leave.
            Once again, thanks for participating!
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
            $("#next").click(function () {
                psiTurk.saveData({
                    success: function(){
                        psiTurk.computeBonus('compute_bonus', function() {
                            psiTurk.completeHIT(); // when finished saving compute bonus, the quit
                        });
                    },
                    error: prompt_resubmit});
            });

            prompt_resubmit = function() {
                document.body.innerHTML = error_message;
                $("#resubmit").click(resubmit);
            };

        </script>

    </div>

    <hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
